body {
  background-image: url(https://cdn.wallpapersafari.com/41/92/8aCQkW.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.creature {
  position: absolute;
  top: 575px;
  left: 650px;
}

.hair {
  position: absolute;
  top: -80px;
  left: 75px;
  background-color: rgb(233, 153, 144);
  width: 150px;
  height: 100px;
  clip-path: polygon(
    41% 36%,
    64% 36%,
    82% 43%,
    100% 53%,
    79% 100%,
    24% 100%,
    0 55%,
    16% 41%
  );
  z-index: -1;
}

.body {
  background-color: rgb(255, 179, 170);
  border-radius: 100%;
  width: 300px;
  height: 350px;
  box-shadow: 1px 1px 20px 1px grey;
}

.leftHorn {
  transform: scaleX(-1);
  position: absolute;
  left: 0px;
  top: -40px;
  background-color: rgb(250, 218, 177);
  width: 75px;
  height: 100px;
  clip-path: polygon(86% 56%, 74% 100%, 0 100%, 0 67%, 38% 58%, 45% 0);
  z-index: -1;
}

.rightHorn {
  position: absolute;
  left: 230px;
  top: -40px;
  background-color: rgb(250, 218, 177);
  width: 75px;
  height: 100px;
  clip-path: polygon(86% 56%, 74% 100%, 0 100%, 0 67%, 38% 58%, 45% 0);
  z-index: -1;
}

.leftBrow {
  position: absolute;
  background-color: rgb(233, 153, 144);
  z-index: 1;
  bottom: 25px;
  right: -5px;
  width: 125px;
  height: 100px;
  clip-path: polygon(81% 61%, 94% 77%, 100% 100%, 0 100%, 12% 49%, 45% 50%);
}

.leftEye {
  position: absolute;
  top: 65px;
  left: 80px;
  background-color: whitesmoke;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  box-shadow: 1px 1px 20px 1px grey;
}

.leftIris {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: blue;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.leftPupil {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.rightBrow {
  transform: scaleX(-1);
  position: absolute;
  background-color: rgb(233, 153, 144);
  z-index: 1;
  bottom: 25px;
  right: -75px;
  width: 125px;
  height: 100px;
  clip-path: polygon(81% 61%, 94% 77%, 100% 100%, 0 100%, 12% 49%, 45% 50%);
}

.rightEye {
  position: absolute;
  top: 65px;
  left: 175px;
  background-color: whitesmoke;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  box-shadow: 1px 1px 20px 1px grey;
}

.rightIris {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: blue;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.rightPupil {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.mouth {
  position: absolute;
  top: 135px;
  left: 90px;
  background-color: black;
  width: 125px;
  height: 2px;
}

.toothOne {
  position: absolute;
  top: -20px;
  border-radius: 50% 50% 0% 0%;
  background-color: white;
  width: 30px;
  height: 20px;
}

.toothTwo {
  position: absolute;
  top: -20px;
  left: 32px;
  border-radius: 50% 50% 0% 0%;
  background-color: white;
  width: 30px;
  height: 20px;
}

.toothThree {
  position: absolute;
  top: -20px;
  left: 63px;
  border-radius: 50% 50% 0% 0%;
  background-color: white;
  width: 30px;
  height: 20px;
}

.toothFour {
  position: absolute;
  top: -20px;
  left: 95px;
  border-radius: 50% 50% 0% 0%;
  background-color: white;
  width: 30px;
  height: 20px;
}

.leftFoot {
  position: absolute;
  top: 320px;
  left: 70px;
  background-color: rgb(255, 179, 170);
  border-radius: 100% 100% 0% 0%;
  width: 70px;
  height: 35px;
  z-index: -1;
}

.rightFoot {
  position: absolute;
  top: 320px;
  left: 165px;
  background-color: rgb(255, 179, 170);
  border-radius: 100% 100% 0% 0%;
  width: 70px;
  height: 35px;
  z-index: -1;
}
